body{
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    background: rgba(187, 214, 156, 0.767);
    color: black;
}

#control-board{
    position: absolute;
    height: 100%;
    width: 150px;
    margin: 0px;
    background: rgb(180, 239, 255);
}

#canvas-container{
    position: absolute;
}

#control-board .col-lg-12 {
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    text-align: center;
    font-weight: 600;
    outline: none;
}
#control-board .fa{
    padding: 2px 0px 2px 0px;
    text-align: center;
    font-weight: 600;
    outline: none;
    font-size: 28px;
    background-color: transparent;
    border: none;
}
#control-board .col-lg-6{
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    text-align: center;
    font-weight: 600;
    outline: none;
} 

#control-board .btn-secondary a{
    text-decoration: none;
    color: black;
}

.control_pt{
    height: 15px; 
    width: 15px; 
    border-radius: 50%;
    background: rgba(128, 128, 128);
}

.option-box{
    padding: 0px 0px 0px 50px;
    margin-left: 150px;
    background: rgb(110, 224, 255);
    height: 120px;
}

.option-box div{
    margin-top: 20px;
}

input{
    height: 50px;
    width: 200px;
}

.canvas {
    position: absolute; 
    border: 2px dotted;
}

#text-input{
    white-space: pre-wrap;
}

.container-fluid{
    padding: 0;
}

.btn-default{
    background-color: rgb(156, 226, 238);
}
.btn-default:hover{
    background-color: rgb(48, 248, 231);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}

#color-input {
  display: none;
}
#color-label {
  margin:0 0 0 0;
  position: relative;
  height: 50px;
  width: 50px;
  display: inline-block;


 
} 
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  position: fixed;
    right: 25px;
    top: -15px;
  background-color: white;
  height: 110px;
  width: 150px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 4px;

}
#color-picker canvas:hover {
  cursor: crosshair;
}

@media screen and (max-width: 767px){
    #control-board{
        display: none;
    }
    .option-box{
        padding: 0px 0px 0px 0px;
        margin-left: 0px;
        background: rgb(110, 224, 255);
        height: 120px;
        display: none;
    }
    #function-key{
        display: none;
    }

}

