body{
    font-size: 12px;
}

#control-board{
    position: absolute;
    height: 100%;
    width: 150px;
    margin: 0px;
}

#canvas-container{
    position: inline-block;
}

#control-board .col-lg-12{
    margin: 20px 0px 20px 0px;
}

.control_pt{
    height: 15px; 
    width: 15px; 
    border-radius: 50%;
    background: rgba(128, 128, 128);
}

input{
    height: 50px;
    width: 200px;
}

.canvas {
    position: absolute; 
    border: 2px dotted;  
    margin: 100px;
}

#text-input{
    white-space: pre-wrap;
}