
.canvas{
    border:1px black dotted;
    position:absolute;
    top:40px;
    bottom:0px;
    left:100px;
    right:0px;
    background-color: white;

}

#canvas-draft{
    background-color: transparent;
}
body{
    overflow:hidden;
}

.panel .btn{
width: 98px;
}





#nav-bar{
    background-color: black;
    background: linear-gradient(60deg, rgb(48, 49, 53), rgb(173, 168, 168));
    margin-bottom: 0;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}


#color-input {
  display: none;
}
#color-label {
  margin-left: 0px;
  position: absolute;
  height: 30px;
  width: 98px;
} 
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  position: absolute;
  left: 100px; 
  background-color: white;
  height: 180px;
  width: 200px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 0.5%;
}
canvas:hover {
  cursor: crosshair;
}