
.canvas{
    border:1px black dotted;
    position:absolute;
    top:80px;
    bottom:0px;
    left:0px;
    right:0px;
}

#canvas-draft{
    background-color: transparent;
}
body{
    overflow:hidden;
}
#canvas-container{
    height:auto;
    width: auto;
}  

.buttons{
    position:absolute;
    top:80px;
    bottom:0px;
    left:1034px;
    right:0px;
}

.tool-bar2{
    border: 1px red dotted;
    position: absolute;
    width: 350;
    height: 250;
    top: 500;
    left: 1034;
    bottom:0;
    right:0;
    padding: 0;
    margin: 0;
}

#nav-bar{
    background-color: black;
    background: linear-gradient(60deg, rgb(48, 49, 53), rgb(173, 168, 168));
}

#button-right{
    float: right;

}
bod{
    background-color: gray;
}